<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="fb:app_id" content="231549833968712" />
  <title></title>
</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>
<!-- Login page -->
<div data-role="page" id="login" class="type-home">
  <div class="login-button">
    <a href="<%- loginUrl %>">Log in</a>
  </div>
</div>
</body>
</html>
